myNormalStress/*
tau_vector/*
myMultiFieldValue/*
lnInclude/*
Make/linux64GccDPInt32Opt/myHTC/*
Make/linux64GccDPInt32Opt/myHTC/**

Make/linux64GccDPInt32Opt/myHTC/myHTC.C.dep
Make/linux64GccDPInt32Opt/myHTC/myHTC.o
linux64GccDPInt32Opt/
*.o
*.dep